<%= form_for(@text_post) do |f| %>
  <%#= error_messages_for @text_post %>

  <%= render "shared/error_messages", resource: @text_post %>

  <div class="actions">


    <%= f.submit %>
  </div>
<% end %>
